<app-login *ngIf="!authService.isAuthenticated"></app-login>

<div *ngIf="authService.isAuthenticated && !authService.accessWithoutLogin" style="display: flex; flex-direction: column; height: 100vh;">
  <div class="titolo-container">
    <img class="logo" src="https://i.vimeocdn.com/portrait/13930741_640x640">
    <h1 class="titolo">Alten Meteo</h1>
  </div>
  <app-map (mousedown)="disableClick($event)" (mouseup)="enableClick($event)"></app-map>
  <button (click)="resetAuthentication()">Logout</button>
  <button class="cronologia" (click)="toggleHistoryVisibility()">Cronologia</button>
  <app-search-history *ngIf="showHistory"></app-search-history>
  <app-footer></app-footer>
</div>

<div *ngIf="!authService.isAuthenticated && authService.accessWithoutLogin" style="display: flex; flex-direction: column; height: 100vh;">
  <div class="titolo-container">
    <img class="logo" src="https://i.vimeocdn.com/portrait/13930741_640x640">
    <h1 class="titolo">Alten Meteo</h1>
  </div>
  <app-map (mousedown)="disableClick($event)" (mouseup)="enableClick($event)"></app-map>
  <button (click)="exit()">Login</button>
</div>

